{
  "root": true,
  "extends": "airbnb",
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "browser": true
  },
  "globals": {
    "document": true,
    "window": true,
    "FormData": true,
    "XMLHttpRequest": true,
    "FileReader": true
  },
  "rules": {
    "generator-star-spacing": "off"
  }
}